@page "/book-list"

<Card>
    <CardHeader>
        Kitap Listesi
        <Button Class="btn btn-primary float-end" Clicked="@ShowModal"><Icon Name="IconName.PlusCircle" /> Yeni Kitap Ekle</Button>
    </CardHeader>
    <CardBody>
        <Table Hoverable>
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>ISBNNo</TableHeaderCell>
                    <TableHeaderCell>Kitap Adı</TableHeaderCell>
                    <TableHeaderCell>Yazar</TableHeaderCell>
                    <TableHeaderCell>Sayfa Sayısı</TableHeaderCell>
                    <TableHeaderCell>Kopya Adedi</TableHeaderCell>
                    <TableHeaderCell>Fiyatı</TableHeaderCell>
                    <TableHeaderCell>Kategori</TableHeaderCell>
                </TableRow>
            </TableHeader>
            @foreach (var book in ListBook)
            {  
            <TableBody>
                <TableRow>
                    <TableRowHeader>@book.ISBNNo</TableRowHeader>
                    <TableRowCell>@book.BookName</TableRowCell>
                    <TableRowCell>@book.Writer</TableRowCell>
                    <TableRowCell>@book.NumberOfPages</TableRowCell>
                    <TableRowCell>@book.NumberOfCopies</TableRowCell>
                    <TableRowCell>@book.UnitPrice</TableRowCell>
                    <TableRowCell>@book.Category</TableRowCell>
                </TableRow>
            </TableBody>
            }
        </Table>
    </CardBody>
    <CardFooter>CardFooter</CardFooter>
</Card>


<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Kitap Ekleme</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>ISBNNo</FieldLabel>
                <TextEdit Placeholder="ISBNNo giriniz..." @bind-Text="BookDto.ISBNNo" />
            </Field>
            <Field>
                <FieldLabel>Kitap Adı</FieldLabel>
                <TextEdit Placeholder="Kitap Adını giriniz..." @bind-Text="BookDto.BookName" />
            </Field>
            <Field>
                <FieldLabel>Yazar</FieldLabel>
                <TextEdit Placeholder="Yazarı giriniz..." @bind-Text="BookDto.Writer" />
            </Field>
            <Field>
                <FieldLabel>Sayfa Sayısı</FieldLabel>
                <NumericEdit @bind-Value="BookDto.NumberOfPages" />
            </Field>
            <Field>
                <FieldLabel>Kopya Adedi</FieldLabel>
                <NumericEdit @bind-Value="BookDto.NumberOfCopies" />
            </Field>
            <Field>
                <FieldLabel>Fiyatı</FieldLabel>
                <NumericEdit @bind-Value="BookDto.UnitPrice" />
            </Field>
            <Field>
                <FieldLabel>Kategori</FieldLabel>
                <TextEdit Placeholder="Kategori giriniz..." @bind-Text="BookDto.Category" />
            </Field>
            <Field>
                <FieldLabel>Özeti</FieldLabel>
                <TextEdit Placeholder="Özeti giriniz..." @bind-Text="BookDto.Summary" />
            </Field>
            <Field>
                <FieldLabel>Resim Urli</FieldLabel>
                <TextEdit Placeholder="Resim Urli giriniz..." @bind-Text="BookDto.imageUrl" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" Clicked="@HideModal">Kapat</Button>
            <Button Color="Color.Success" Clicked="@AddBook">Kitap Ekle</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
<Toaster>
    <Toast @bind-Visible="@toastVisible">
        <ToastHeader>
            <Strong Margin="Margin.IsAuto.FromEnd">Başarılı</Strong>
            <CloseButton />
        </ToastHeader>
        <ToastBody>
            Kitap Başarılı Bii Şekilde Eklendi..
        </ToastBody>
    </Toast>
</Toaster>

@code {
    private Modal modalRef;

    private Task ShowModal()
    {
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }

}
